### application.properties ###
# Ignore all application.properties files anywhere in the project
**/application.properties
**/application.yml

# Ignore all data.sql files anywhere in the project
**/data.sql

# Ignore all log and gzip files recursively
**/*.log
**/*.gz
DockerCompose
